<div class="wrapper">
  <h1 class="title">{{ title }}</h1>

  <app-global-error></app-global-error>

  <input type="text" placeholder="Search..."
  [(ngModel)]="term"
  >

  <!-- <app-product [product]="product[0]"></app-product>
  <app-product [product]="product[1]"></app-product> -->

  <p class="p1" *ngIf="loading">Loading...</p>
  <div *ngIf="product$ | async as product">
    <app-product *ngFor="let product of product | filterProducts:term; let i = index" [product]="product"></app-product>
  </div>

</div>